@charset "UTF-8";
@import "_var", "_mixin", "_function";

/* 
기본pc => 태블릿 => 모바일
*/
#wrap{min-width: 20rem;} /* 320px => ? rem */
//pc, 모바일 공통
.header{
    position: fixed;top: 0;left: 0;width: 100%;background: $white;z-index: 900;
    
    .logo{
        text-align: center;
    }
    .navOpenBtn, .customBtn, .mnavOpenBtn,.mcustomBtn{position: absolute;top: 44px;font-weight: 500;}
    .navOpenBtn, .mnavOpenBtn{left: 0;}
    .customBtn, .mcustomBtn{right: 0;}
}

//pc 
#pcHeader{
    
    > .p_r{height: 102px;}
    .logo{
        padding-top: 20px;
        a{
            width: 114px;height: 61px;
        }
    }
    .navOpenBtn, .customBtn{font-size: 20px;}
}
.pcnav_wrap{position: fixed;top: 102px;left: 0;width: 100%;background-color: $black; 
    .pcGnb{color:$white;
        > ul{
            > li{
                float: left;
                 > a{margin-right: 50px;line-height: 76px;}
            }
        }
        .dep2_wrap{position: absolute;top: 76px;left: 0;width: 100%;background: $black;border-top: 1px solid #8c8c8c;}
        .dep2{
            max-width: 1420px;width: 100%;margin: 0 auto;
            &::after{content: "";display: block;clear: both;}
            > *{
                @include border-box;
                float: left;width: 50%;height: 353px;padding: 41px 31px 30px 32px;
            }
            > :first-child{border-right: 1px solid #8c8c8c;padding-left: 0;background: url("../images/common/-e-LEFT.png") no-repeat right 31px bottom 30px}
            strong{font-size: 18px;display:block;padding-bottom: 26px;}
            >:last-child{background: url("../images/common/-e-right.png") no-repeat right 31px top 41px;}
        }
        > ul > li:nth-child(6) .dep2_tit{display: block;padding-bottom: 35px;}
        .dep3{

            >li{margin-bottom: 10px;
            }
            a{font-size: 14px;font-weight: 300;}
        }
    }
    .util_wrap{
        .util{
            bottom: 35px;color: $white;font-size: 12px;float: right;right: 0;
            li{float: left;margin-right: 30px;}
            li:last-child{margin-right: 0;}
        }
    }
}

//mobile
#mHeader{display:none;
.mnav_wrap{display:none;}
}

//footer
footer{position: relative;clear: both;min-height: 150px;margin: 0 auto;padding: 60px 10px;font-size: 12px;color: #92929D;background: #1c1c1c;margin-top: 10vw;
    .footerContent{max-width: 1420px;margin: 0 auto 0 auto;line-height: 18px;
        .innerContent{color: #92929D;
            /* 미디어쿼리로 어떤기계던 100% */
        &::after{content:"";display: block;margin-top: 20px;}
        .grid{display: flex;
        > *{padding-left: 20px;}
        .footerSt{width: 16%;}
        dl{
            dt{padding-bottom: 5px;font-weight: 500;color: #ffffffe3;font-size: 15px;}
            dd{margin-top: 8px;}
        }
            .newsletter-field{margin-bottom: 10px;
            .input-textfield {display: inline-block;position: relative;}
            }
        
            }
            .grid + .grid{margin-top: 35px;}
            .company{position: relative;
                padding-left: 265px;width: 40%;
                .footerLogo{position: absolute;
                background: url("../images/common/footerLogo.png") no-repeat;height: 63px;width: 170px;top: 5px;
                left: 20px;}
            }
            .insurance{width: 60%;}
        }
    }
}

@media screen and (max-width: 1440px) {
    // #header
    #pcHeader{
        > .max1420{max-width: 1220px;}    
    }
    .pcnav_wrap{
        .pcGnb{
            > ul{max-width: 1220px;
            }
            .dep2_wrap{position: absolute;top: 76px;left: 0;width: 100%;background: $black;border-top: 1px solid #8c8c8c;}
            .dep2{max-width: 1220px;}
            .board:first-child{background: url("../images/common/-e-right.png") no-repeat right 31px top 41px;}
        }
        .util_wrap{
            .util{right: 95px;}
        }
    }
    // footer
  }

  //태블릿
  @media screen and (max-width: 1080px) {
      //header
      #pcHeader{display: none;}
      #mHeader{display: block;
          .topHeader{padding: 0 20px;
          .logo{
              padding-top: 20px;
              a{
                  width: 114px;height: 61px;
              }
          }
          }
          .mnavOpenBtn, .mcustomBtn{font-size: 15px;}
          .mnav_wrap{position: fixed;top: 0;left: 0;width: 100%;height: 100vh;overflow-y: hidden;background: $white;}
  }
}