@charset "UTF-8";
@import "_var", "_mixin", "_function";

/* 
기본pc => 태블릿 => 모바일
*/
#wrap{min-width: 20rem;} /* 320px => ? rem */
//pc, 모바일 공통
.header{
    position: fixed;top: 0;left: 0;width: 100%;height: 102px;z-index: 900;
    .topHeader{
        background: $white;
        .logo{
            padding-top: 25px;
        }
    }
}

//pc 
#pcHeader{
    .topHeader{
        .logo{
            a{
                width: 114px;height: 61px;
            }
        }
    }
}

//mobile
#mHeader{display: none;}