@charset "UTF-8";
/* 
기본pc => 태블릿 => 모바일
*/
#wrap {
  min-width: 20rem;
  overflow: hidden; }

/* 320px => ? rem */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 900; }
  .header .logo {
    text-align: center; }
  .header .navOpenBtn, .header .customBtn, .header .mnavOpenBtn, .header .mcustomBtn {
    position: absolute;
    top: 44px;
    font-weight: 500; }
  .header .navOpenBtn, .header .mnavOpenBtn {
    left: 0; }
  .header .customBtn, .header .mcustomBtn {
    right: 0; }

#pcHeader > .p_r {
  height: 102px; }
#pcHeader .logo {
  padding-top: 20px; }
  #pcHeader .logo a {
    width: 114px;
    height: 61px; }
#pcHeader .navOpenBtn, #pcHeader .customBtn {
  font-size: 20px; }

.pcnav_wrap {
  position: fixed;
  top: 102px;
  left: 0;
  width: 100%;
  background-color: #000000; }
  .pcnav_wrap .pcGnb {
    color: #ffffff; }
    .pcnav_wrap .pcGnb > ul > li {
      float: left; }
      .pcnav_wrap .pcGnb > ul > li > a {
        margin-right: 50px;
        line-height: 76px; }
    .pcnav_wrap .pcGnb .dep2_wrap {
      position: absolute;
      top: 76px;
      left: 0;
      width: 100%;
      background: #000000;
      border-top: 1px solid #8c8c8c; }
    .pcnav_wrap .pcGnb .dep2 {
      max-width: 1420px;
      width: 100%;
      margin: 0 auto; }
      .pcnav_wrap .pcGnb .dep2::after {
        content: "";
        display: block;
        clear: both; }
      .pcnav_wrap .pcGnb .dep2 > * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 50%;
        height: 353px;
        padding: 41px 31px 30px 32px; }
      .pcnav_wrap .pcGnb .dep2 > :first-child {
        border-right: 1px solid #8c8c8c;
        padding-left: 0;
        background: url("../images/common/-e-LEFT.png") no-repeat right 31px bottom 30px; }
      .pcnav_wrap .pcGnb .dep2 strong {
        font-size: 18px;
        display: block;
        padding-bottom: 26px; }
      .pcnav_wrap .pcGnb .dep2 > :last-child {
        background: url("../images/common/-e-right.png") no-repeat right 31px top 41px; }
    .pcnav_wrap .pcGnb > ul > li:nth-child(6) .dep2_tit {
      display: block;
      padding-bottom: 35px; }
    .pcnav_wrap .pcGnb .dep3 > li {
      margin-bottom: 10px; }
    .pcnav_wrap .pcGnb .dep3 a {
      font-size: 14px;
      font-weight: 300; }
  .pcnav_wrap .util_wrap .util {
    bottom: 35px;
    color: #ffffff;
    font-size: 12px;
    float: right;
    right: 0; }
    .pcnav_wrap .util_wrap .util li {
      float: left;
      margin-right: 30px; }
    .pcnav_wrap .util_wrap .util li:last-child {
      margin-right: 0; }

#mHeader {
  display: none; }

#pcfooter {
  position: relative;
  clear: both;
  min-height: 150px;
  margin: 0 auto;
  padding: 60px 10px;
  font-size: 12px;
  color: #92929D;
  background: #1c1c1c;
  margin-top: 10vw; }
  #pcfooter .footerContent {
    max-width: 1420px;
    margin: 0 auto 0 auto;
    line-height: 18px; }
    #pcfooter .footerContent .innerContent {
      color: #92929D;
      /* 미디어쿼리로 어떤기계던 100% */ }
      #pcfooter .footerContent .innerContent::after {
        content: "";
        display: block;
        margin-top: 20px; }
      #pcfooter .footerContent .innerContent .grid {
        display: flex; }
        #pcfooter .footerContent .innerContent .grid > * {
          padding-left: 3vw; }
        #pcfooter .footerContent .innerContent .grid .footerSt {
          width: 16%; }
        #pcfooter .footerContent .innerContent .grid dl dt {
          padding-bottom: 5px;
          font-weight: 500;
          color: #ffffffe3;
          font-size: 20px; }
        #pcfooter .footerContent .innerContent .grid dl dd {
          margin-top: 8px; }
        #pcfooter .footerContent .innerContent .grid .newsletter-field {
          margin-bottom: 10px; }
          #pcfooter .footerContent .innerContent .grid .newsletter-field > * {
            display: inline-block;
            vertical-align: middle; }
          #pcfooter .footerContent .innerContent .grid .newsletter-field input {
            width: 12vw;
            height: 1vw; }
          #pcfooter .footerContent .innerContent .grid .newsletter-field button {
            -webkit-background-size: cover !important;
            -moz-background-size: cover !important;
            background-size: cover !important;
            background: url(../images/common/2.png) no-repeat center;
            width: 0.46vw;
            height: 0.83vw;
            margin: 10px; }
        #pcfooter .footerContent .innerContent .grid .input-form-group span {
          font-size: 9px; }
        #pcfooter .footerContent .innerContent .grid .input-form-group a {
          font-size: 7px; }
    #pcfooter .footerContent .grid + .grid {
      margin-top: 100px; }
    #pcfooter .footerContent .company {
      position: relative;
      padding-left: 290px !important;
      width: 40%; }
      #pcfooter .footerContent .company .footerLogo {
        position: absolute;
        background: url("../images/common/footerLogo.png") no-repeat;
        height: 63px;
        width: 170px;
        top: 5px;
        left: 20px;
        margin-left: 2vw; }
    #pcfooter .footerContent .insurance {
      width: 60%; }

#mfooter {
  display: none; }

@media screen and (max-width: 1440px) {
  .max1420 {
    max-width: 1220px; }

  #pcHeader .pcnav_wrap .pcGnb > ul {
    max-width: 1220px; }
  #pcHeader .pcnav_wrap .pcGnb .dep2_wrap {
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    background: #000000;
    border-top: 1px solid #8c8c8c; }
  #pcHeader .pcnav_wrap .pcGnb .dep2 {
    max-width: 1220px; }
  #pcHeader .pcnav_wrap .pcGnb .board:first-child {
    background: url("../images/common/-e-right.png") no-repeat right 31px top 41px; }
  #pcHeader .pcnav_wrap .util_wrap .util {
    right: 95px; }

  #mfooter {
    display: none; } }
@media screen and (max-width: 1220px) {
  .max1420 {
    max-width: 100%; }

  #pcHeader .navOpenBtn, #pcHeader .customBtn {
    padding: 0 24px; } }
@media screen and (max-width: 1080px) {
  #pcHeader {
    display: none; }

  #mHeader {
    display: block;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    height: 102px; }
    #mHeader .topHeader {
      max-width: 1080px;
      width: 100%;
      margin: 0 auto; }
      #mHeader .topHeader .logo {
        padding-top: 24px;
        max-width: 1080px;
        width: 100%;
        margin: 0 auto; }
        #mHeader .topHeader .logo a {
          width: 114px;
          height: 61px; }
    #mHeader .mnav_wrap {
      visibility: hidden;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background: #ffffff;
      z-index: 1000; }
      #mHeader .mnav_wrap > div:not(.x) {
        position: relative; }
        #mHeader .mnav_wrap > div:not(.x) .m_util {
          position: absolute;
          display: block;
          right: 0;
          float: right;
          margin: 2vw -0.6vw;
          font-size: 1.66vw; }
          #mHeader .mnav_wrap > div:not(.x) .m_util li {
            float: left;
            margin-right: 5vw; }
      #mHeader .mnav_wrap .m_Gnb {
        padding-top: 100px;
        text-align: right; }
        #mHeader .mnav_wrap .m_Gnb > ul > li {
          font-size: 3.75vw;
          border: 1px solid #000000; }
          #mHeader .mnav_wrap .m_Gnb > ul > li + li {
            border-top: none; }
          #mHeader .mnav_wrap .m_Gnb > ul > li > a {
            -webkit-background-size: 3.75vw !important;
            -moz-background-size: 3.75vw !important;
            background-size: 3.75vw !important;
            display: block;
            padding: 2.22% 5%;
            background: url("../images/common/down.svg") no-repeat 5% 50%; }
          #mHeader .mnav_wrap .m_Gnb > ul > li.on > a {
            background-image: url("../images/common/up.svg"); }
          #mHeader .mnav_wrap .m_Gnb > ul > li .depth2 {
            background: #000000;
            color: white;
            padding: 2.22% 5%; }
            #mHeader .mnav_wrap .m_Gnb > ul > li .depth2 .depth2_tit {
              font-size: 3.43vw; }
          #mHeader .mnav_wrap .m_Gnb > ul > li .depth3 {
            font-size: 2.5vw;
            font-weight: 300;
            letter-spacing: 1.28px;
            padding: 2.12vw 0 5.25vw;
            line-height: 1.5; }
    #mHeader .mnavOpenBtn, #mHeader .mcustomBtn {
      font-size: 1.66vw;
      margin: 0 15px; }

  .x {
    height: 3.148vw;
    width: 3.148vw;
    position: absolute;
    top: 2vw;
    left: 5%; }

  #pcfooter {
    display: none; }

  #mfooter {
    display: inline-block;
    position: relative;
    clear: both;
    min-height: 150px;
    margin: 0 auto;
    padding: 3.703vw 2.777vw;
    font-size: 1.111vw;
    color: #92929D;
    background: #1c1c1c;
    margin-top: 10vw; }
    #mfooter .footerContent {
      max-width: 1080px;
      margin: 0 auto;
      line-height: 18px; }
      #mfooter .footerContent .innerContent {
        color: #92929D;
        /* 미디어쿼리로 어떤기계던 100% */ }
        #mfooter .footerContent .innerContent::after {
          content: "";
          display: block;
          margin-top: 20px; }
        #mfooter .footerContent .innerContent .grid {
          display: flex; }
          #mfooter .footerContent .innerContent .grid > * {
            padding-left: 20px; }
          #mfooter .footerContent .innerContent .grid .footerSt {
            width: 25%;
            margin-top: 10px; }
          #mfooter .footerContent .innerContent .grid dl dt {
            font-size: 2vw;
            color: #fff; }
          #mfooter .footerContent .innerContent .grid dl dd {
            margin-top: 8px; }
          #mfooter .footerContent .innerContent .grid .footer_sns div {
            -webkit-background-size: cover !important;
            -moz-background-size: cover !important;
            background-size: cover !important;
            display: inline-block;
            width: 3.22vw;
            height: 3.22vw; }
            #mfooter .footerContent .innerContent .grid .footer_sns div > img {
              width: 3.22vw;
              height: 3.22vw; }
        #mfooter .footerContent .innerContent .footerBig {
          display: block;
          max-width: 1080px;
          margin: 0 auto;
          width: 100%;
          padding: 20px; }
          #mfooter .footerContent .innerContent .footerBig dt {
            padding-bottom: 5px;
            color: #ffffffe3;
            font-size: 2vw; }
          #mfooter .footerContent .innerContent .footerBig dd {
            margin-top: 8px; }
          #mfooter .footerContent .innerContent .footerBig .newsletter-field {
            margin-bottom: 10px; }
            #mfooter .footerContent .innerContent .footerBig .newsletter-field .input-textfield {
              display: inline-block;
              position: relative; }
              #mfooter .footerContent .innerContent .footerBig .newsletter-field .input-textfield input {
                margin-top: 20px;
                width: 70%;
                height: 3vw;
                border: none;
                vertical-align: middle; }
            #mfooter .footerContent .innerContent .footerBig .newsletter-field .btn_join {
              background: url(../images/common/2.png) no-repeat center;
              vertical-align: middle; }
        #mfooter .footerContent .innerContent .grid + .grid {
          margin-top: 35px; }
        #mfooter .footerContent .innerContent .company {
          padding: 3vw 5vw !important;
          border-top: 0px solid #c8c8c8;
          font-size: 0.5vw; } }

/*# sourceMappingURL=layout.css.map */
