@charset "UTF-8";
/* 
기본pc => 태블릿 => 모바일
*/
#wrap {
  min-width: 20rem; }

/* 320px => ? rem */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 900; }
  .header .logo {
    text-align: center; }
  .header .navOpenBtn, .header .customBtn {
    position: absolute;
    top: 44px;
    font-weight: 500; }
  .header .navOpenBtn {
    left: 0; }
  .header .customBtn {
    right: 0; }

#pcHeader > .p_r {
  height: 102px; }
#pcHeader .logo {
  padding-top: 20px; }
  #pcHeader .logo a {
    width: 114px;
    height: 61px; }
#pcHeader .navOpenBtn, #pcHeader .customBtn {
  font-size: 20px; }

.pcnav_wrap {
  position: fixed;
  top: 102px;
  left: 0;
  width: 100%;
  background-color: #000000; }
  .pcnav_wrap .pcGnb {
    color: #ffffff; }
    .pcnav_wrap .pcGnb > ul > li {
      float: left; }
      .pcnav_wrap .pcGnb > ul > li > a {
        margin-right: 50px;
        line-height: 76px; }
    .pcnav_wrap .pcGnb .dep2_wrap {
      position: absolute;
      top: 76px;
      left: 0;
      width: 100%;
      background: #000000;
      border-top: 1px solid #8c8c8c; }
    .pcnav_wrap .pcGnb .dep2 {
      max-width: 1420px;
      width: 100%;
      margin: 0 auto; }
      .pcnav_wrap .pcGnb .dep2::after {
        content: "";
        display: block;
        clear: both; }
      .pcnav_wrap .pcGnb .dep2 > * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 50%;
        height: 353px;
        padding: 41px 31px 30px 32px; }
      .pcnav_wrap .pcGnb .dep2 > :first-child {
        border-right: 1px solid #8c8c8c;
        padding-left: 0;
        background: url("../images/common/-e-LEFT.png") no-repeat right 31px bottom 30px; }
      .pcnav_wrap .pcGnb .dep2 strong {
        font-size: 18px;
        display: block;
        padding-bottom: 26px; }
      .pcnav_wrap .pcGnb .dep2 > :last-child {
        background: url("../images/common/-e-right.png") no-repeat right 31px top 41px; }
    .pcnav_wrap .pcGnb > ul > li:nth-child(6) .dep2_tit {
      display: block;
      padding-bottom: 35px; }
    .pcnav_wrap .pcGnb .dep3 > li {
      margin-bottom: 10px; }
    .pcnav_wrap .pcGnb .dep3 a {
      font-size: 14px;
      font-weight: 300; }
  .pcnav_wrap .util_wrap .util {
    bottom: 35px;
    color: #ffffff;
    font-size: 12px;
    float: right;
    right: 0; }
    .pcnav_wrap .util_wrap .util li {
      float: left;
      margin-right: 30px; }
    .pcnav_wrap .util_wrap .util li:last-child {
      margin-right: 0; }

#mHeader {
  display: none; }
  #mHeader .mnav_wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background: #ffffff; }

footer {
  position: relative;
  clear: both;
  min-height: 150px;
  margin: 0 auto;
  padding: 60px 10px;
  font-size: 12px;
  color: #92929D;
  background: #1c1c1c;
  margin-top: 10vw; }
  footer .footerContent {
    max-width: 1420px;
    margin: 0 auto 0 auto;
    line-height: 18px; }
    footer .footerContent .innerContent {
      color: #92929D;
      /* 미디어쿼리로 어떤기계던 100% */ }
      footer .footerContent .innerContent::after {
        content: "";
        display: block;
        margin-top: 20px; }
      footer .footerContent .innerContent .grid {
        display: flex; }
        footer .footerContent .innerContent .grid > * {
          padding-left: 20px; }
        footer .footerContent .innerContent .grid .footerSt {
          width: 16%; }
        footer .footerContent .innerContent .grid dl dt {
          padding-bottom: 5px;
          font-weight: 500;
          color: #ffffffe3;
          font-size: 15px; }
        footer .footerContent .innerContent .grid dl dd {
          margin-top: 8px; }
        footer .footerContent .innerContent .grid .newsletter-field {
          margin-bottom: 10px; }
          footer .footerContent .innerContent .grid .newsletter-field .input-textfield {
            display: inline-block;
            position: relative; }
      footer .footerContent .innerContent .grid + .grid {
        margin-top: 35px; }
      footer .footerContent .innerContent .company {
        position: relative;
        padding-left: 265px;
        width: 40%; }
        footer .footerContent .innerContent .company .footerLogo {
          position: absolute;
          background: url("../images/common/footerLogo.png") no-repeat;
          height: 63px;
          width: 170px;
          top: 5px;
          left: 20px; }
      footer .footerContent .innerContent .insurance {
        width: 60%; }

@media screen and (max-width: 1440px) {
  #pcHeader > .max1420 {
    max-width: 1220px; }

  .pcnav_wrap .pcGnb > ul {
    max-width: 1220px; }
  .pcnav_wrap .pcGnb .dep2_wrap {
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    background: #000000;
    border-top: 1px solid #8c8c8c; }
  .pcnav_wrap .pcGnb .dep2 {
    max-width: 1220px; }
  .pcnav_wrap .pcGnb .board:first-child {
    background: url("../images/common/-e-right.png") no-repeat right 31px top 41px; }
  .pcnav_wrap .util_wrap .util {
    right: 95px; } }
@media screen and (max-width: 1080px) {
  #mHeader .mnav_wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background: #ffffff; } }

/*# sourceMappingURL=layout.css.map */
