@charset "UTF-8";
@import "_var", "_mixin", "_function";

/* 
기본pc => 태블릿 => 모바일
*/
#wrap{min-width: 20rem;} /* 320px => ? rem */
//pc, 모바일 공통
.header{
    position: fixed;top: 0;left: 0;width: 100%;background: $white;z-index: 900;
    
    .logo{
        text-align: center;
    }
    .navOpenBtn, .customBtn, .mnavOpenBtn,.mcustomBtn{position: absolute;top: 44px;font-weight: 500;}
    .navOpenBtn, .mnavOpenBtn{left: 0;}
    .customBtn, .mcustomBtn{right: 0;}
}

//pc 
#pcHeader{
    
    > .p_r{height: 102px;}
    .logo{
        padding-top: 20px;
        a{
            width: 114px;height: 61px;
        }
    }
    .navOpenBtn, .customBtn{font-size: 20px;}
}
.pcnav_wrap{position: fixed;top: 102px;left: 0;width: 100%;background-color: $black; 
    .pcGnb{color:$white;
        > ul{
            > li{
                float: left;
                 > a{margin-right: 50px;line-height: 76px;}
            }
        }
        .dep2_wrap{position: absolute;top: 76px;left: 0;width: 100%;background: $black;border-top: 1px solid #8c8c8c;}
        .dep2{
            max-width: 1420px;width: 100%;margin: 0 auto;
            &::after{content: "";display: block;clear: both;}
            > *{
                @include border-box;
                float: left;width: 50%;height: 353px;padding: 41px 31px 30px 32px;
            }
            > :first-child{border-right: 1px solid #8c8c8c;padding-left: 0;background: url("../images/common/-e-LEFT.png") no-repeat right 31px bottom 30px}
            strong{font-size: 18px;display:block;padding-bottom: 26px;}
            >:last-child{background: url("../images/common/-e-right.png") no-repeat right 31px top 41px;}
        }
        > ul > li:nth-child(6) .dep2_tit{display: block;padding-bottom: 35px;}
        .dep3{

            >li{margin-bottom: 10px;
            }
            a{font-size: 14px;font-weight: 300;}
        }
    }
    .util_wrap{
        .util{
            bottom: 35px;color: $white;font-size: 12px;float: right;right: 0;
            li{float: left;margin-right: 30px;}
            li:last-child{margin-right: 0;}
        }
    }
}

//mobile
#mHeader{display:none;}

//footer
#pcfooter{position: relative;clear: both;min-height: 150px;margin: 0 auto;padding: 60px 10px;font-size: 12px;color: #92929D;background: #1c1c1c;margin-top: 10vw;
    .footerContent{max-width: 1420px;margin: 0 auto 0 auto;line-height: 18px;
        .innerContent{color: #92929D;
            /* 미디어쿼리로 어떤기계던 100% */
        &::after{content:"";display: block;margin-top: 20px;}
        .grid{display: flex;
        > *{padding-left: 3vw;}
        .footerSt{width: 16%;}
        dl{
            dt{padding-bottom: 5px;font-weight: 500;color: #ffffffe3;font-size: 20px;}
            dd{margin-top: 8px;}
        }
            .newsletter-field{margin-bottom: 10px;
                >*{display: inline-block;vertical-align: middle;}
            input{width: 12vw;height: 1vw;}
            button{@include bgsize(cover);
                background:url(../images/common/2.png) no-repeat center;width: 0.46vw;height: 0.83vw;margin: 10px;}
        }
            .input-form-group{
                span{font-size: 9px;}
                a{font-size: 7px;}
            }
            }
        
            }
            .grid + .grid{margin-top: 100px;}
            .company{position: relative;
                padding-left: 290px !important;width: 40%;
                .footerLogo{position: absolute;
                background: url("../images/common/footerLogo.png") no-repeat;height: 63px;width: 170px;top: 5px;
                left: 20px;margin-left: 2vw;}
            }
            .insurance{width: 60%;}
        }
    }
#mfooter{display: none;}

@media screen and (max-width: 1440px) {
    .max1420{max-width: 1220px;}
    // #header
    #pcHeader{
     .pcnav_wrap{
        .pcGnb{
            > ul{max-width: 1220px;
            }
            .dep2_wrap{position: absolute;top: 76px;left: 0;width: 100%;background: $black;border-top: 1px solid #8c8c8c;}
            .dep2{max-width: 1220px;}
            .board:first-child{background: url("../images/common/-e-right.png") no-repeat right 31px top 41px;}
        }
        .util_wrap{
            .util{right: 95px;}
        }
    }
}
   
    // footer
    #mfooter{display: none;}
  }

  @media screen and (max-width: 1220px) {
    .max1420{max-width: 100%;}
    #pcHeader .navOpenBtn, #pcHeader .customBtn{padding: 0 24px;}

  }

  //태블릿
  @media screen and (max-width: 1080px) {
      //header
      #pcHeader{display: none;}
      #mHeader{display: block;max-width: 1080px;width: 100%;margin: 0 auto;height: 102px;
          .topHeader{max-width: 1080px;width: 100%;margin: 0 auto;
          .logo{
              padding-top: 24px;max-width: 1080px;width: 100%;margin: 0 auto;
              a{
                  width: 114px;height: 61px;
              }
            }
        }
        .mnav_wrap{
            visibility: hidden;position: fixed;top: -100%;left: 0;width: 100%;height: 100%;overflow-y: auto;background: $white;z-index: 1000;
            > div:not(.x){position: relative;
                .m_util{
                    position: absolute;display: block;right: 0;float: right;margin:2vw -0.6vw;font-size: 1.66vw;
                li{float: left;margin-right: 5vw;}
                }
            }
            .m_Gnb{padding-top: 100px;text-align: right;
            > ul > li{
                font-size: 3.75vw;border:1px solid $black;
                + li{border-top: none;}
                > a{
                    @include bgsize(3.75vw);
                    display: block;padding:2.22% 5%;background: url("../images/common/down.svg") no-repeat 5% 50%;}
                &.on > a{background-image: url("../images/common/up.svg");}
            .depth2{
                background: $black;color: white;padding:2.22% 5%;
                .depth2_tit{font-size: 3.43vw;}
            
            }
            .depth3{font-size: 2.5vw;font-weight: 300;letter-spacing: 1.28px;padding: 2.12vw 0 5.25vw;
            line-height: 1.5;}
                }
            }
        }
        .mnavOpenBtn, .mcustomBtn{font-size: 1.66vw;margin: 0 15px;}
    }
        .x{height: 3.148vw;width:3.148vw;position: absolute;top: 2vw;left: 5%;}

    //footer
    #pcfooter{display: none;}

    #mfooter{display:inline-block; position: relative;clear: both;min-height: 150px;margin: 0 auto;padding: 40px 30px;font-size: 12px;color: #92929D;background: #1c1c1c;margin-top: 10vw;
        .footerContent{max-width: 1080px;margin: 0 auto;line-height: 18px;
            .innerContent{color: #92929D;
                /* 미디어쿼리로 어떤기계던 100% */
            &::after{content:"";display: block;margin-top: 20px;}
            .grid{display: flex;
            > *{padding-left: 20px;}
            .footerSt{width: 25%;margin-top: 10px;}
            dl{
                dt{padding-bottom: 5px;font-weight: 500;color: #ffffffe3;font-size: 15px;}
                dd{margin-top: 8px;}
            }
            .sns{
                @include bgsize(cover);
                width: 3.22vw;height: 3.22vw;
            }
        }
        .footerBig{display: block;max-width: 1080px;margin: 0 auto;width: 100%;padding:20px;
            dt{padding-bottom: 5px;font-weight: 500;color: #ffffffe3;font-size: 15px;text-align: left;}
                dd{margin-top: 8px;}
            .newsletter-field{margin-bottom: 10px;
            .input-textfield {display: inline-block;position: relative;
            input{
                margin-top: 20px;width: 70%;height: 3vw;border: none;vertical-align: middle;}
            }
            .btn_join{background:url(../images/common/2.png) no-repeat center;vertical-align: middle;}
            }
        }
                .grid + .grid{margin-top: 35px;}
                .company{position: relative;width: 100%;padding-top:40px;padding-left:0 !important;
                   border-top: 1px solid #c8c8c8;
                }
            }
        }
   }      
}

//모바일
@media screen and (max-width: 640px) {
    
}
