@charset "UTF-8";
@import "_var", "_mixin", "_function";

/* cnt1 */
#cnt1{
    margin-top: 102px;
    .redSource{max-width: 1420px;
        width: 100%;
    }
    h2{
       top: 50px; font-size: 138px;line-height: 133.5px;color: $white;letter-spacing: -2.08px;z-index: 500;
       
    }
    #movie{
        position: relative;padding-bottom: 56.25%;
        iframe{
            position: absolute;top: 0;left: 0;width: 100%;height: 100%;
        }
        &::before,&::after{content: "";position: absolute;z-index: 220;}
        &::before{top:100px;left:80px;background: url("../images/main/redgraffiti.png") no-repeat;width: 369px;height: 327px;}
        &::after{bottom:100px;right:80px;background: url("../images/main/greengrafftti.png") no-repeat; width: 138px;height: 280px;}
    }
    #plasticBag{
        @include bgsize(cover);
        position: absolute;top: 0;width: 100%;height: 100%;z-index: 200;background: url("../images/main/plastic.png") no-repeat ; opacity: .9;}
}
/* cnt2 */
#cnt2{
    padding-top: 260px;
   .bigSquare{
       @include bgsize(cover);
       background: url("../images/main/square_bg.png") no-repeat center;width: 100%;padding-bottom: 75%;
        > div{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
        ul li a{text-align: center;}
    } 
        h2{
            @include bgsize(cover);
            top: 2vw;left: calc(50% - 22.15vw);background: url("../images/main/titleCircle.png") no-repeat; width: 44.30vw;height: 13.75vw;font-size: 2.083vw; color: $black;line-height: 13.75vw;text-align: center; 
        }
        .era{
            a{
                display: inline-block;
                span{
                    @include transform(translate(-50%, -50%));
                    @include border-radius(50%);
                    @include transition(opacity 0.5s);
                    position: absolute;top: 50%;left: 50%;width: 7.86vw;height: 7.86vw;background-color: #002aff;color: $white;font-size: 1.04vw;text-align: center;line-height: 7.86vw;
                    opacity: 0;}
                    &:hover span, &:focus span{opacity: 1;}
            }
            top: 50%;left: 40%;
            &::after{content:"";position: absolute;bottom: 10%;right: 268%;background: url("../images/main/content2.png");width: 56px;height: 41px;}
        }
        .hi{
            a{
                display: inline-block;
                span{
                    @include transform(translate(-50%, -50%));
                    @include border-radius(50%);
                    @include transition(opacity 0.5s);
                    position: absolute;top: 50%;left: 50%;width: 7.86vw;height: 7.86vw;background-color: #002aff;color: $white;font-size: 1.04vw;text-align: center;line-height: 7.86vw;
                    opacity: 0;}
                    &:hover span, &:focus span{opacity: 1;}
            }
            top: 25%;left: 20%;   
            &::after{
                content: "";position: absolute;top: -78%;left: -67%;background: url("../images/main/mask.png") no-repeat; width: 118px;height: 152px;
            }
            }
        .slipOn{
            a{
                display: inline-block;
                span{
                    @include transform(translate(-50%, -50%));
                    @include border-radius(50%);
                    @include transition(opacity 0.5s);
                    position: absolute;top: 50%;left: 50%;width: 7.86vw;height: 7.86vw;background-color: #002aff;color: $white;font-size: 1.04vw;text-align: center;line-height: 7.86vw;
                    opacity: 0;}
                    &:hover span, &:focus span{opacity: 1;}
            }
            bottom: 0;left: 20%;
            &::after{content: "";position: absolute;bottom: 40%;left: 221%;background: url("../images/main/board.png") no-repeat; width: 164px;height: 80px;}}
        .authentic{
            a{
                display: inline-block;
                span{
                    @include transform(translate(-50%, -50%));
                    @include border-radius(50%);
                    @include transition(opacity 0.5s);
                    position: absolute;top: 50%;left: 50%;width: 7.86vw;height: 7.86vw;background-color: #002aff;color: $white;font-size: 1.04vw;text-align: center;line-height: 7.86vw;
                    opacity: 0;}
                    &:hover span, &:focus span{opacity: 1;}
            }
            top: 0;right: 0;
            &::after{ content: "";position: absolute;top: 220%;right: 20%;background: url("../images/main/shark.png") no-repeat; width: 187px;height: 152px;
           
            }
    }
        .oldSkool{
            a{
                display: inline-block;
                span{
                    @include transform(translate(-50%, -50%));
                    @include border-radius(50%);
                    @include transition(opacity 0.5s);
                    position: absolute;top: 50%;left: 50%;width: 7.86vw;height: 7.86vw;background-color: #002aff;color: $white;font-size: 1.04vw;text-align: center;line-height: 7.86vw;
                    opacity: 0;}
                    &:hover span, &:focus span{opacity: 1;}
            }
            top: 25%;right: 20%;
            &::after{ content: "";position: absolute;bottom: 10%;right: -25%;background: url("../images/main/content2-2.png") no-repeat; width: 51px;height: 38px;}}
            #checkerPlastic{background: url("../images/main/plasticbag.png") no-repeat; width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: .5;}
            .shoeChoose{display: flex;justify-content: center;align-items: center;z-index: 100;width: 20%;height: 25%;
            .shoeChoose a:hover, .shoeChoose a:focus{
            @include border-radius(50%);
            background-color: #002aff; color:$white;
            width: 151px;height: 151px;text-align: center;line-height: 151px;font-size: 20px;}
    }
}
/* cnt3 */
#cnt3{padding-top: 133px;position: relative;
    #faqAccodion{
        .tit.on{background: $black;color: $white;}
        .accoheader, .accopanel{height: 77px;border: 1px solid $black;width: 100%;text-align: left;line-height: 77px;}
        .accoheader{font-size: 24px;padding-left: 48px;}
        .accopanel{
            ul{padding-left: 48px;
                li{float: left;font-size: 20px;}
                li+li{margin-left: 56px;}
                li:hover a, li a:focus{background: $black; color: $white;}
            }
        }

    }
    .greenEffect{position: absolute;bottom: -15%;right: 5%;width: 449px;height: 382px;}
}
/* cnt4 */
#cnt4{margin-top: 100px;
    >div{
        position: relative;width: 100%; /* height: 23.85vw; */background: url("../images/main/bgbgbg.png") repeat-x;
        //.bxslider,.bxslider > li{height: 23.85vw;}
        .sliderWrap{position: relative;}
        .bxslider{
            img{margin: 0 auto;background-color: $black;}
            strong{
                @include transform(translate(-50%, -50%));
                position: absolute;top: 50%;left: 50%;color: $white;background: $black;background: #000; width: 42.08vw;height: 3vw;line-height: 3vw;font-size: 2vw;text-align: center;}
        }
        .bx-controls-direction{
            > a{
                @include transform(translateY(-50%));
                position: absolute;display: inline-block;height: 8.7vw;max-width: 1420px;z-index: 100;top:50%;
                &:nth-child(1){left: 30px;}
                &:nth-child(2){right: 30px;}
                img{@include bgsize(cover);
                    width: 8vw;height: 7.7vw;}
                }
        }
    }
}
/* cnt5 */
#cnt5{padding-top: 6.51vw;
    .tablist{
        .tab {margin-bottom: 88px;}
        li{
            @include border-box;
            float: left; width: 50%;height: 3.95vw;line-height: 3.95vw;text-align: center;font-size: 1.35vw;border: 0.20vw solid $black;}
        li + li{border-left: none;}
    }
    #sellTab .tab:hover, #sellTab .tab:focus, #sellTab .tab.active{background: $black;color: $white;cursor: pointer;}
    .tabpanel{
        ul{padding-top: 3.22vw;}
        .squareSt{
            @include border-box;
            border: 0.19vw solid $black;width: 100%;margin-bottom: 1.87vw;
            img{z-index: -1;width: 100%;height: auto;}
            .txtWrap{height: 8.90vw;background-color: $white;position: relative;margin-left: 1.56vw;
                strong{font-size: 1.3vw;margin-top: 1.4vw;line-height: 1.56vw;display: inline-block;
                }
                p{position: absolute;font-size: 2.5vw;bottom: 1.19vw;
                }

            }
        }   
        li{float: left;width: 32.253%;margin-left: 1.620%;}//margin-left: 23px;
        li:nth-child(1),li:nth-child(4){margin-left: 0;}
    }
    #sellTab .tabpanel{display: none;}
    #sellTab .tabpanel.active{display: block;}
}
/* cnt6 */
#cnt6{padding-top: 7.81vw;
    .lookbook{position: relative;
        h3,p{margin-left: 2.13vw;position: absolute;left: 0;color: $white;}
        h3{font-size: 4vw;line-height: 4.2vw;top: 3.12vw;
            &::after{
                @include bgsize(cover);
                content: "";background: url("../images/main/diamond.png") no-repeat;position: absolute;width: 1.77vw;height: 5.41vw;top:15.27vw;left: 0;
            }
        }
        p{font-size: 0.62vw;top: 25.67vw;}
        div:not(.texture_plastic){float: left;}
        .img_top_left, .img_btm_right{width: 43.662%;}
        .img_top_right, .img_btm_left{width: 56.338%;}
        .texture_plastic{
        @include bgsize(cover);
        position: absolute;top: 0;width: 100%;height: 100%;z-index: 200;background: url("../images/main/plastic.png") no-repeat ; opacity: .9;
        }
    }
    .stickers{position: absolute;z-index: 3;}
    .sticker{position: relative;
        .yellowS{top: 17.55vw;left: 29.06vw;width: 6.30vw;}
        .pinkS{top: 24.42vw;left: 61.01vw;width: 10.62vw;height: 10.57vw; }
        } 
    
}
@media screen and (max-width: 1680px) {
    #cnt1{
        #movie{
            &::before{    top: 7vw;
                left: -0.443vw;;}
            } 
    }
    #cnt6{
        .lookbook{
           h3{
            &::after{
                @include bgsize(cover);
                top:20.27vw;
            }
        }
            p{top: 29.67vw;} 
            .yellowS {left: 34.06vw;}
           
        }
    }
}
@media screen and (max-width: 1440px) {
     #cnt1{
        h2{font-size: 8.583vw;line-height: 8.27vw;
        }
        #movie{
            &::before{top: 6.944vw;left: -2.445vw;}
        }
        
    }  
    #cnt2{
        .bigSquare{
            ul li a img{width: 80%;}
        }
    }  
    #cnt4{
        .bx-wrapper{max-width: 1220px;}
    }
}

@media screen and (max-width: 1220px) {
    #cnt1{
            h2{font-size: 9.4vw;line-height: 9.2vw;padding: 0 1.6vw;width: 100%;}
            #movie{
                &::before{top: 5vw;left: -7.443vw;width: 29.75vw;height: 26.37vw;}
                &::after{bottom:8.196vw;right:80px;background: url("../images/main/greengrafftti.png") no-repeat; width: 138px;height: 280px;}
                } 
        }
    }


@media screen and (max-width: 1080px) {
    #cnt1{
        h2{
           top: 2.166vw; font-size: 9.2777vw;line-height: 9.86vw;letter-spacing: -0.1vw;z-index: 500;margin: 0 15px;
        }
        #movie{
            &::before,&::after{
                @include bgsize(cover);}
            &::before{top: 2.259vw;left: -8.6vw;width: 34.16vw;height: 30.27vw;}
            &::after{bottom:9.259vw;right:7.407vw; width: 12.77vw;height: 25.92vw;}
        }
    }
    /* cnt2 */
    #cnt2{
        position: relative; padding-top: 80px;
            h2{
                @include bgsize(cover);
                top: 4.166vw;left: calc(50% - 22.46vw);width: 44.92vw;height: 13.94vw;font-size: 2.11vw;line-height: 13.94vw;
            }
            .era{
                a{
                    span{
                        top: 50%;left: 50%;width: 8.5vw;height: 8.5vw;font-size: 1.1vw;line-height: 8.5vw;}
                }
                top: 50%;left: 40%;
                &::after{
                    @include bgsize(cover);
                    width: 3.94vw;height: 2.88vw;}
            }
            .hi{
                a{
                    span{
                        top: 50%;left: 50%;width: 8.5vw;height: 8.5vw;font-size: 1.1vw;line-height: 8.5vw;}
                } 
                &::after{
                    @include bgsize(cover); 
                    width: 8.30vw;height: 10.70vw;
                }
                }
            .slipOn{
                a{
                    span{
                        top: 50%;left: 50%;width: 8.5vw;height: 8.5vw;font-size: 1.1vw;line-height: 8.5vw;}
                }
                &::after{
                    @include bgsize(cover);
                    width: 11.54vw;height: 5.63vw;}}
            .authentic{
                a{
                    span{
                        top: 50%;left: 50%;width: 8.5vw;height: 8.5vw;font-size: 1.1vw;line-height: 8.5vw;}
                }
                &::after{ 
                    @include bgsize(cover);
                    width: 13.16vw;height: 10.70vw;
                }
        }
            .oldSkool{
                a{
                    span{
                        top: 50%;left: 50%;width: 8.5vw;height: 8.5vw;font-size: 1.1vw;line-height: 8.5vw;}
                }
                &::after{ 
                    @include bgsize(cover);
                    width: 3.59vw;height: 2.67vw;right: -30%;}}
                #checkerPlastic{
                    @include bgsize(cover);
                    width: 100%;height: 100%;position: absolute;left: 0;}
            }
    /* cnt3 */
    #cnt3{
        .greenEffect{position: absolute;bottom: -15%;right: 5%;width: 31.61vw;height: 26.9vw;}
    }
    /* cnt5 */
    #cnt5{
        .tablist{
            .tab {margin-bottom: 4.58vw;}
          
    }
}
    /* cnt6 */
    #cnt6{
        .lookbook{
            h3,p{margin-left: 3.13vw;}
            h3{font-size: 4.6vw;line-height: 4.8vw;top: 4vw;
                &::after{
                    @include bgsize(cover);
                    top:22vw;left: 0;
                }
            }
            p{font-size: 0.5vw;top: 33vw;}
        }
        .stickers{position: absolute;z-index: 3;}
        .sticker{position: relative;
            .yellowS{top: 10vw;left: 40vw;}
            .pinkS{top: 33vw;left: 80vw;width: 12.62vw;height: 12.57vw; }
            } 
    }
 }

 @media screen and (max-width: 640px) {
     /* cnt2 */ 
#cnt2{
    padding-top: 150px;
   .bigSquare{
       background: url("../images/main/m_bg.png") no-repeat center;padding-bottom: 200%;
       ul li a img{width: 100%;}
    } 
        h2{
            @include bgsize(cover);
            top: 45px;left: calc(50% - 32.3vw);background: url("../images/main/titleCircle.png") no-repeat;width: 64.6vw;height: 19.93vw;font-size: 3vw;line-height: 19.93vw;
            ::after{content:"";}
        }
        .era{
            a{
                span{width: 20.86vw;height: 20.86vw;font-size: 3vw;line-height: 20.86vw;}
            }
            top: 50%;left: 50%;
            &::after{display: none;}
        }
        .hi{
            a{
                display: inline-block;
                span{width: 20.86vw;height: 20.86vw;font-size: 3vw;line-height: 20.86vw;}
            }
            top: 25%;left: 50%;   
            &::after{
                @include bgsize(cover);
                top: 211%;left: 30%;width: 50%;height: 65%;
            }
            }
        .slipOn{
            a{
                span{width: 20.86vw;height: 20.86vw;font-size: 3vw;line-height: 20.86vw;}
            }
            bottom: 0;left: 0;
            &::after{
                @include bgsize(cover);
                bottom: 100%;left: 60%;width: 15.38vw;height: 7.633vw;}
            }
        .authentic{
            a{
                display: inline-block;
                span{
                    width: 20.86vw;height: 20.86vw;font-size: 3vw;line-height: 20.86vw;}
            }
            top: 25%;left: 0;
            &::after{display: none;}
    }
        .oldSkool{//3
            a{
                span{width: 20.86vw;height: 20.86vw;font-size: 3vw;line-height: 20.86vw;}
            }
            top: 50%;right: 50%;
            &::after{display: none;}
           }
            .shoeChoose{display: flex;justify-content: center;align-items: center;z-index: 100;width: 50%;height: 25%;
            .shoeChoose a:hover, .shoeChoose a:focus{
            @include border-radius(50%);
            background-color: #002aff; color:$white;
            width: 151px;height: 151px;text-align: center;line-height: 151px;font-size: 20px;}
    }
    }
    #cnt3{
        padding-top: 133px;position: relative;
    #faqAccodion{
        .accoheader, .accopanel{height: 12.03vw;line-height: 12.03vw;}
        .accoheader{font-size: 3.75vw;}
        .accopanel{
            ul{
                li{font-size: 3.125vw;}
                li+li{margin-left: 5.625vw;}
            }
        }

    }
        .greenEffect{right: 1%;width: 40vw;height: 28.9vw;}
    }
    /* cnt4 */
#cnt4{margin-top: 25vw;
   
}
    /* cnt5 */
#cnt5{
    .tablist{
        li{
            @include border-box;
            float: left; width: 50%;height: 7vw;line-height: 7vw;text-align: center;font-size: 2.3vw;border: 0.20vw solid $black;}
        li + li{border-left: none;}
    }
    .tabpanel{
        ul{padding-top: 3.22vw;}
        .squareSt{
            .txtWrap{    height: 14.9vw;margin-left: 2vw;
                strong{font-size: 2.8vw;margin-top: 2.2vw;line-height: 3.2vw;}
                p{font-size: 3vw;bottom: 2vw;}

            }
        }   
        li{float: left;width: 49.19%;margin-left: 1.620%;}//margin-left: 23px;
        li:nth-child(1),li:nth-child(3),li:nth-child(5){margin-left: 0;}
        li:nth-child(4){margin-left: 1.620%;}
    }
}
#cnt6{
    .lookbook{
        p{font-size: 0.2vw;top: 32vw;}
    }
}
 }
 @media screen and (max-width: 570px) {
    #cnt2{
       .bigSquare{
           ul li a img{width: 80%;}
        }  
    }
    #cnt6{
        .lookbook{
            p{font-size: 0vw;}
        }
    }
}